set -g fish_greeting ""

# Add package manager paths
{{ if eq .chezmoi.os "darwin" }}
# macOS (Apple Silicon default)
if test -d /opt/homebrew
    eval (/opt/homebrew/bin/brew shellenv)
end
{{ else if eq .chezmoi.os "linux" }}
# Linux system paths
fish_add_path /usr/local/bin
fish_add_path ~/.local/bin
{{ end }}

# Add Go path if go is installed
if command -v go >/dev/null 2>&1
    set -gx PATH (go env GOPATH)/bin $PATH
end
fish_add_path ~/.scripts

# Your aliases and settings
alias ll="ls -alF"
alias ls="ls --color=auto"
alias vim="nvim"
alias p="pwd"
alias c="clear"
alias cdr="cd (git_root)"

alias gg="git"
alias gga="git add"
alias ggc="git commit"
alias ggcm="git commit -m"
alias ggs="git status"

alias ch="chezmoi"
alias cha="chezmoi apply"

alias tt="terraform"
alias tti="terraform init"
alias ttp="terraform plan"
alias tta="terraform apply"
alias ttaa="terraform apply -auto-approve"
alias ttd="terraform destroy"
alias ttdd="terraform destroy -auto-approve"

alias ggmi="go mod init"
alias ggmr="go mod tidy"
alias ggv="go mod vendor"
alias ggr="go run"

abbr -a fish_reload_config 'source ~/.config/fish/**/*.fish'
abbr - 'cd -'