set -g fish_greeting ""

# Add Homebrew to PATH
{{ if eq .chezmoi.os "darwin" }}
# macOS (Apple Silicon default)
if test -d /opt/homebrew
    eval (/opt/homebrew/bin/brew shellenv)
end
{{ else if eq .chezmoi.os "linux" }}
# Linuxbrew
if test -d /home/linuxbrew/.linuxbrew
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{ end }}

set -gx PATH (go env GOPATH)/bin $PATH
fish_add_path ~/.scripts

# Your aliases and settings
alias ll="ls -alF"
alias ls="ls --color=auto"
alias vim="nvim"
alias p="pwd"
alias c="clear"
alias cdr="cd (git_root)"
alias g="git"
alias ga="git add"
alias gc="git commit"
alias gcm="git commit -m"
