tap "pulumi/tap"
tap "turbot/tap"
{{- if eq .chezmoi.os "linux" }}
tap "wezterm/wezterm-linuxbrew"
{{- end }}

brew "awscli"
brew "chezmoi"
brew "cloudflared"
brew "fd"
brew "fish"
brew "fzf"
brew "gcc"
brew "git"
brew "gitui"
brew "go"
brew "jq"
brew "lazygit"
brew "luarocks"
brew "neovim"
brew "node"
brew "pipx"
brew "pulumi"
brew "ripgrep"
brew "terraform"
brew "tmux"
brew "turbot/tap/steampipe"
brew "wget"
brew "xclip"

{{- if eq .chezmoi.os "darwin" }}
brew "git" 
{{- else if eq .chezmoi.os "linux" }}
brew "curl"
{{- end }}

cask "1password"
cask "1password-cli"
cask "alacritty"
cask "font-jetbrains-mono-nerd-font"
cask "mullvadvpn"
cask "wezterm"

{{- if eq .chezmoi.os "darwin" }}
cask "wezterm"
cask "alacritty"
{{- end }}

vscode "amazonwebservices.aws-toolkit-vscode"
vscode "enkia.tokyo-night"
vscode "esbenp.prettier-vscode"
vscode "foxundermoon.shell-format"
vscode "golang.go"
vscode "hashicorp.terraform"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "vscodevim.vim"
