# Window settings
[window]
decorations = "full"
dynamic_title = true
opacity = 1.0
padding.x = 4
padding.y = 2

# Font settings
[font]
size = 13.0
normal.family = "JetBrainsMono Nerd Font"
normal.style = "Regular"
bold.family = "JetBrainsMono Nerd Font"
bold.style = "Bold"
italic.family = "JetBrainsMono Nerd Font"
italic.style = "Italic"
bold_italic.family = "JetBrainsMono Nerd Font"
bold_italic.style = "Bold Italic"
offset.x = 0
offset.y = 0
glyph_offset.x = 0
glyph_offset.y = 0

# Cursor settings
[cursor]
blink_interval = 750
unfocused_hollow = true
style.blinking = "On"
style.shape = "Block"

# Mouse settings
[mouse]
hide_when_typing = true

# Keybindings (aligned with Wezterm where possible)
[[keyboard.bindings]]
key = "V"
mods = "Control|Shift"
action = "Paste"

[[keyboard.bindings]]
key = "C"
mods = "Control|Shift"
action = "Copy"

[[keyboard.bindings]]
key = "Insert"
mods = "Shift"
action = "PasteSelection"

[[keyboard.bindings]]
key = "Key0"
mods = "Control"
action = "ResetFontSize"

[[keyboard.bindings]]
key = "Plus"
mods = "Control"
action = "IncreaseFontSize"

[[keyboard.bindings]]
key = "Minus"
mods = "Control"
action = "DecreaseFontSize"

[[keyboard.bindings]]
key = "F11"
mods = "None"
action = "ToggleFullscreen"

# Colors (Tokyo Night Storm)
[colors.primary]
background = "#24283b"
foreground = "#c0caf5"

[colors.cursor]
text = "#24283b"
cursor = "#c0caf5"

[colors.vi_mode_cursor]
text = "#24283b"
cursor = "#5f87af"

[colors.search.matches]
foreground = "#24283b"
background = "#ff9e64"

[colors.search.focused_match]
foreground = "#24283b"
background = "#e0af68"

[colors.footer_bar]
background = "#414868"
foreground = "#c0caf5"

[colors.hints.start]
foreground = "#1a1b26"
background = "#bb9af7"

[colors.hints.end]
foreground = "#1a1b26"
background = "#bb9af7"

[colors.selection]
text = "#c0caf5"
background = "#414868"

[colors.normal]
black = "#1a1b26"
red = "#f7768e"
green = "#9ece6a"
yellow = "#e0af68"
blue = "#7aa2f7"
magenta = "#bb9af7"
cyan = "#7dcfff"
white = "#a9b1d6"

[colors.bright]
black = "#414868"
red = "#f7768e"
green = "#9ece6a"
yellow = "#e0af68"
blue = "#7aa2f7"
magenta = "#bb9af7"
cyan = "#7dcfff"
white = "#c0caf5"

[colors.dim]
black = "#16161e"
red = "#d75f71"
green = "#84b058"
yellow = "#bfa35e"
blue = "#648ad1"
magenta = "#a07fd5"
cyan = "#66a6df"
white = "#8d97b4"

[terminal.shell]
{{ if eq .chezmoi.os "darwin" }}
program = "/opt/homebrew/bin/fish"
{{ else if eq .chezmoi.os "linux" }}
program = "/usr/bin/fish"
{{ end }}
